
body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(8, 1fr);
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #556F44;
    font-family: Lexend Deca;
    box-sizing: border-box;
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / -1 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px 0 50px;
    margin-top: 25px;
}

#logo {
    display: flex;
    justify-content: space-between;
}

.melon-icon {
    padding-top: 10px;
}

header button {
    background-color: transparent;
    border: 1.5px solid #C7DEB6;
    font-size: 15px;
    color: #f1f1f1;
    padding: 15px 25px;
    border-radius: 20px;
    margin-bottom: 10px;
}

header button:hover {
    background-color: #C7DEB6;
    color: #556F44;
}

h1 {
    color: #f1f1f1;
    font-size: 30px;
    font-weight: 500;
    padding-left: 3px;
    order: 2;
}

nav {
    grid-row: 2 / -1;
    min-width: 250px;
    margin-top: 50px;
}

nav ul {
    padding-bottom: 30px;
}

nav li {
    list-style-type: none;
    font-size: 18px;
    padding-bottom: 35px;
    font-weight: 300;
}

#nav-1 {
    color: #C7DEB6;
    margin: 0 20px 0 30px;
    border-bottom: 1px solid #C7DEB6;
}

.nav1-item {
    display: flex;
    align-items: center;
}

.nav1-item img{
    padding-right: 15px;
}


#nav-2 {
    color: #f1f1f1;
}

#nav-subhead {
    font-size: 15px;
    font-weight: 300;
    margin-left: 48px;
    margin-top: 20px;
    color: #C7DEB6;
}

main {
    background-color: #f1f1f1;
    grid-row: 1 / -1 ;
    grid-column: 2 / -1;
    margin: 120px 10px 10px 0;
    border-radius: 45px;
    overflow: auto;
}

