
body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(8, 1fr);
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #556F44;
    font-family: Lexend Deca;
    box-sizing: border-box;
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / -1 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px 0 50px;
    margin-top: 25px;
}

#logo {
    display: flex;
    justify-content: space-between;
}

.melon-icon {
    padding-top: 10px;
}

header button {
    background-color: transparent;
    border: 1.5px solid #C7DEB6;
    font-size: 15px;
    color: #f1f1f1;
    padding: 15px 25px;
    border-radius: 20px;
    margin-bottom: 10px;
}

header button:hover {
    background-color: #C7DEB6;
    color: #556F44;
}

h1 {
    color: #f1f1f1;
    font-size: 30px;
    font-weight: 500;
    padding-left: 3px;
    order: 2;
}

nav {
    grid-row: 2 / -1;
    min-width: 250px;
    margin-top: 40px;
}


/* NAV 1 */
#nav-1 {
    margin-left: 60px;
}

#nav-1 button {
    display: flex; 
    align-items: center;
    width: 100%;
    background-color: transparent;
    border: none;
    margin-bottom: 40px;
    padding: 5px 0 5px 0;
}

#nav-1 button svg{
    padding-right: 15px;
    padding-left: 15px;
    pointer-events: none;
}

#nav-1 button p {
    color: #C7DEB6;
    font-size: 18px;
    font-weight: 300;
    pointer-events: none; 
}

button.active {
   background-color: #f1f1f1 !important;
   border-radius: 20px 0 0 20px;
}

.active p {
    color: #556F44 !important;
    font-weight: 400 !important;
}

button.active svg {
    fill:#556F44;
}


/* NAV 2 */
#nav-2 {
    color: #f1f1f1;
    border-top: 1px solid #C7DEB6;
    margin: 0 15px 0 30px;
}

#nav-subhead {
    font-size: 15px;
    font-weight: 300;
    margin-top: 20px;
    color: #C7DEB6;
}

main {
    background-color: #f1f1f1;
    grid-row: 1 / -1 ;
    grid-column: 2 / -1;
    margin: 120px 10px 10px 0;
    border-radius: 45px;
    overflow: auto;
}

